<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.PageTitle</title>
    <style>
         @if (IsSectionDefined("style"))
         {
             RenderSection("style");
         }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
